<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/42d391c3ad.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- ESTE ES EL HEADER -->
    <header class="main-header">

        <div class="top-nav-bar">

            <img class="logo" class="product-image" src="/images/logo-mercado-liebre.svg" alt="logo">
            
            <form class="search-bar">
                <input type="text" placeholder="Barra de busqueda">
                <i class="fas fa-search"></i>
            </form> 
            
            <h2 class="copy-nav-bar">
                <i class="fas fa-hand-holding-usd"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <nav class="bottom-nav-bar">
            <ul class="left-nav-bar">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tiendas Oficialaes</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
    
            <ul class="right-nav-bar">
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresa <i class="far fa-credit-card"></i></a></li>
                <li><a href="#">Mis Compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <a href="#" class="burger-button"><i class="fas fa-bars"></i></a>
    </header> 

<!-- ESTE ES EL MAIN -->
    <main>
        <div class="form-container">
            <form action="/" method="GET">
                <div class="control-form">
                    <label>Nombre y Apellido</label>
                    <input type="text" name="name" required class="form-item"> 
                </div>
                <div>
                    <label>Nombre de usuario</label>
                    <input type="text" name="user-name" class="form-item" pattern=".{4,}" title="El nombre de usuario debe tener al menos 4 caracteres" required>
                </div>
                <div class="control-form">
                    <label>Fecha de nacimiento</label>
                    <input type="date" class="form-item" name="born-date">
                </div>
                <div class="control-form">
                    <label>Domicilio</label>
                    <input type="input" name="address" class="form-item">
                </div>
                <div class="control-form">
                    <label>Tipo de perfil</label>
                    <div class="form-item">
                        <div class="profile">
                            <input type="radio" name="profile-type" value="Comprador" checked> Comprador
                            <input type="radio" name="profile-type" value="Vendedor"> Vendedor
                        </div>
                    </div>
                </div>
                <div class="categorias" >
                    <label>Categorias de interes</label>
                    
                        <input type="checkbox" name="interes" value="electro"> Electro
                        <input type="checkbox" name="interes" value="moda"> Moda
                        <input type="checkbox" name="interes" value="hogar"> Hogar
                        <input type="checkbox" name="interes" value="jugueteria"> Jugueteria
                        <input type="checkbox" name="interes" value="vidasana"> Vida Sana
                </div>
                <div class="control-form">
                    <label>Foto de usuario</label>
                    <input type="file" class="form-item" name="avatar" accept="all">
                </div>
                <div class="control-form">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-item" pattern=".{8,}" title="La contraseña debe tener al menos 8 caracteres">
                    <label>Confirmar contraseña</label>
                    <input type="password" name="password" class="form-item" required>
                </div>
                <button type="reset" class="form-button">Borrar</button>
                <button type="submit" class="form-button">Enviar</button>
            </form>
    </div>
    </main>
<!-- ESTE ES EL FOOTER -->
    <footer>
        <div class="main-footer">
                <div>
                <article>
                    <i class="far fa-credit-card"></i>
                    <h5>Pagá con tarjeta o en efectivo</h5>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo enpuntos de pago. ¡Y siempre es seguro!</p>
                </article>
                
                <article>
                    <i class="fas fa-gift"></i>
                    <h5>Envío gratis desde $ 2.500</h5>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </article>
                
                <article>
                    <i class="fas fa-user-shield"></i>
                    <h5>Seguridad, de principio a fin</h5>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </article>
                
                <article>
                    <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h5>
                </article>
    
            </div>
        </div>
    </footer>
    </body>
</html>