*{
    box-sizing: border-box;
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
}

.main-header{
    background-color: #EAC926;
    padding: 0px;
    display: flex;
    flex-direction: column;  
}

.banner{
    display: none;
    width: 100vw;
}

.top-nav-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    margin-bottom: 10px;
}

.logo{
    width: 50%;
}

.bottom-nav-bar{
    display: none;
}

.copy-nav-bar{
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    margin:auto 0px;
  
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    
}

.search-bar input{
    border: none;
    border-radius: 5px;
    width: 80%;
    margin-right: 3px;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.bottom-nav-bar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.bottom-nav-bar a{
    text-decoration: none;
    color: black;
    display: inline-block;
    margin: 5px 0;
    font-size: 12px;
}
body{
    background-color: #ebebeb;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-section{
    width: 90%;
    margin: auto;
}

.main-section h3{
    font-size: 24px;
    margin: 10px;
}

.product{
    font-size: 18px;
    margin: 5px;
    justify-content: center;
    box-shadow : 0px 0px 3px rgb(100,100,100 );
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.product-image{
    width: 90%;
    align-self: center;
}

.discount{
    font-size: 12px;
    color: #39b54a;
    font-weight: 600;
    width: 65%;
}

.price{
    font-size: 12px;
    font-weight: 500;
    width: 30%;
}

.title{
    font-size: 15px;
}


.burger-button{
    background-color: #03264C;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: auto;
    display: block;
    text-align: center;
    width: 50px;
    margin-bottom: 10px;
}

.main-footer{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.main-footer div{
    list-style: none;
    text-align: center;
    margin-top: 15px;
}

.main-footer p{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 25px;
}

.main-footer h5{
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.main-footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

.product-info{
    border-top: 1px solid #ebebeb;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}
.product-info p{
    margin-top: 10px;
}

.product-info .title{
    margin: auto;
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.product div i{
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #39b54a;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    background-color: #ebebeb;
    border-radius: 8px;
    box-shadow: 0 0 11px rgba(33,33,33,.2)
}

form{
    margin: 10px;
}

.form-container label{
    display: block;
}

form div{
    margin: 5px 0px 15px;
}

.form-item{
    margin-top: 5px;
    border:none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-button{
    font-size: 20px;
    border: none;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 4px;
    margin: 10px 0px 10px 0px;
}

.form-button:hover {
    background-color: #0022AA;
    box-shadow : 0px 0px 5px;
    transition: 0.3s linear;
    opacity: 1;
  }

  .main-form{
      width: 70%;
  }
  

  .categorias ul {
    margin: 0;
    list-style: none;

  }
  .product-info p{
    font-size: 12px;
    font-weight: bold;
}
.product .product-info i{
    position: absolute;
    right: 10px;
    bottom: 30px;
}

@media (min-width:390px){
     
    .title{
        display:contents;
    }

    .banner{
        display: block;
    }

    .bottom-nav-bar{
        display: flex;
        justify-content: space-between;
    }

    .bottom-nav-bar ul{
        display: flex;
    }

    .bottom-nav-bar li{
        margin: 0 5px;
    }

    .burger-button{
        display: none;
    }

    .product{
        width: 40%;
        margin: 10px;
    }

    .product-group{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: center;
    }

    .top-nav-bar{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-start;
        justify-content: center;
    }

    .logo{
        width: 30%;
    }
    .search-bar{
        width: 30%;
    }   

    .product div i{
        -webkit-transition: .4s ease-in-out;
        -ms-transition:  .4s ease-in-out;
        transition: .4s ease-in-out;
    }

    .product div i:hover{
        transform:rotate(360deg);
        -ms-transform:rotate(360deg);
        -webkit-transform:rotate(360deg);
    }
}

@media (min-width:769px){
    .title{
        display:block;
    }
 
    .product-group{
        justify-content: space-between;
    }
    .search-bar input{
        height: 35px;
    }

    .form-container{
        margin: 15px auto;
        max-width: 600px;
    }

    .bottom-nav-bar a{
        font-size: 18px;
    }
    
    .main-footer div{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 25px;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main-footer article{
        width: 30%;
    }

    .main-footer article i:hover{
        color: #39b54a;
        transition: 0.3s linear;
        opacity: 1;
    }

    .copy-nav-bar{
        font-size: 18px;
    }
    
    .product .title{
        transition: all .4s ease-in;
        
    }
    .product .title{
        height: 20px;
        overflow: hidden;
        margin-top: 10px;
        opacity: 0;

    }
    .product:hover .title{
        overflow: auto;
        opacity: 1;
        
    }
    .product{
        width: 20%;
        position: relative;
    }

    .product div i{
        position: absolute;
        bottom: 15px;
    }
    .product-info p{
        font-size: 15px;
        font-weight: bold;
    }

    .product:hover{
        box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }

    .product .product-info i{
        bottom: 50px;
    }
    
}

/*////////////////////////*/
